<p>{{ count }}</p>
<p *ngFor="let name of names; index as i" addSpy (click)="removeName(i)">
  {{ i + 1 }},{{ name }}
</p>
<p>{{ person.name }}</p>
<form (ngSubmit)="onSubmit()">
  <label>Form Control:</label>
  <input type="text" [formControl]="field" />
  <br />
  <label>Change Event:</label>
  <input type="text" [value]="test" (change)="onChange($event)" />
  <br />
  <label>Ng Model:</label>
  <input
    type="text"
    name="field1"
    [(ngModel)]="test1"
    (ngModelChange)="onNgModelChange($event)"
  />
  <br />
  <button type="submit">Submit</button>
</form>
<ng-content></ng-content>
